<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="database" class="com.javi.uned.pfgbackend.config.database.DatabaseLoggerAppender">
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="database"/>
    </root>

</configuration>